.flight-map-container {
}


@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700);

body {
	padding-top: 60px;
	background: white;
}
.container-view-details {
	text-align: center;
}
.container-view-details label{
	color: white;
}
.map {
  height: 400px;
  width: 100%;
}
.ol-attribution {
  max-width: calc(100% - 3em);
}
div.ol-attribution.ol-unselectable.ol-control.ol-uncollapsible {
	display: none;
}
.ol-control button, .ol-attribution, .ol-scale-line-inner {
  font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
}
#tags {
  display: none;
}

.align-center {
	text-align: center;
}

.sidebar-nav ul{
	list-style: none;
	color: white;
	padding: 15px;
}
.sidebar-nav li {
	padding-left: 5px;
}
.sidebar-nav li:hover {
	background: lightsteelblue;
}